.menu-ico-collapse {
    /*margin-left: 4px;*/
}

.list-group-submenu .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-submenu .list-group-item:last-child {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}